#form {
	margin: 0 auto;
	text-align: center;
}
#min-width{
	min-width: 750px;
}
textarea{
	width: 300px;
}
#order {
	width: 46%;
	background-color: yellow;
	float: left;
	border: 2px solid green;
	border-radius: 5px;
	margin: 10px 15px;
}
#devoured {
	width: 46%;
	background-color: orange;
	float: left;
	border: 2px solid red;
	border-radius: 5px;
	margin: 10px;
}

